# Machine Translation

# 1)- Importing key modules

In [1]:
#support both Python 2 and Python 3 with minimal overhead.
from __future__ import absolute_import, division, print_function
#ignore warnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
# What's life without style :). So, let's add style to our dataframes
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
import string 
from string import digits
from collections import Counter
import re 
import numpy as np
from sklearn.utils import shuffle
import pandas as pd 
from pickle import dump
from pickle import load
from unicodedata import normalize
import matplotlib.pyplot as plt 
%matplotlib inline

In [4]:
import string 
import re 
from numpy import array, argmax, random, take 
import pandas as pd 
import matplotlib.pyplot as plt 
%matplotlib inline 
pd.set_option('display.max_colwidth', 200)

In [5]:
from keras.models import Sequential 
from keras.layers import Dense, LSTM, Embedding, RepeatVector
from keras.preprocessing.text import Tokenizer
from keras.callbacks import ModelCheckpoint 
from keras.preprocessing.sequence import pad_sequences
from keras.models import load_model 
from keras import optimizers

Using TensorFlow backend.

In [6]:
# first install: pip install version_information
%reload_ext version_information
%version_information pandas,re,sklearn, matplotlib

Software versions
Python 3.6.3 64bit [MSC v.1900 64 bit (AMD64)]
IPython 7.4.0
OS Windows 10 10.0.16299 SP0
pandas 0.23.4
re 2.2.1
sklearn 0.20.3
matplotlib 2.1.0
Thu Sep 12 18:29:04 2019 W. Europe Daylight Time

# 2)- Loading data

We have data from 2009 to 2016.

In [7]:
# load doc into memory
def load_doc(filename):
	# open the file as read only
	file = open(filename, mode='rt', encoding='utf-8')
	# read all text
	text = file.read()
	# close the file
	file.close()
	return text

In [8]:
# split a loaded document into sentences
def to_sentences(doc):
	return doc.strip().split('\n')

In [9]:
# shortest and longest sentence lengths
def sentence_lengths(sentences):
	lengths = [len(s.split()) for s in sentences]
	return min(lengths), max(lengths)

### 2.1)- For year 2009

In [10]:
# load English data
filename = 'newstest2009.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2009.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2525, min=1, max=108
German data: sentences=2525, min=1, max=110

It is important to notice that sentence length is same. So, we have a balanced data.

We shall check this on all years

### 2.2)-For 2010

In [11]:
# load English data
filename = 'newstest2010.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2010.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2489, min=1, max=74
German data: sentences=2489, min=1, max=86

### 2.3)-For year 2011

In [12]:
# load English data
filename = 'newstest2011.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2011.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3003, min=1, max=93
German data: sentences=3003, min=1, max=92

### 2.4)-For year 2012

In [13]:
# load English data
filename = 'newstest2012.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2012.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3003, min=1, max=114
German data: sentences=3003, min=1, max=101

### 2.5)-For year 2013

In [14]:
# load English data
filename = 'newstest2013.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2013.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3000, min=1, max=82
German data: sentences=3000, min=1, max=85

### 2.6)-For year 2014

In [15]:
# load English data
filename = 'newstest2014.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2014.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=3003, min=1, max=68
German data: sentences=3003, min=1, max=64

### 2.7)- For year 2015

In [16]:
# load English data
filename = 'newstest2015.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2015.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2169, min=1, max=71
German data: sentences=2169, min=1, max=72

### For year 2016

In [17]:
# load English data
filename = 'newstest2016.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('English data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

# load French data
filename = 'newstest2016.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
minlen, maxlen = sentence_lengths(sentences)
print('German data: sentences=%d, min=%d, max=%d' % (len(sentences), minlen, maxlen))

English data: sentences=2999, min=1, max=83
German data: sentences=2999, min=1, max=88

**All datasets have balanced sentences for English and German version**

# 3)- Data Cleaning

- Tokenizing text by white space.
- Normalizing case to lowercase.
- Removing punctuation from each word.
- Removing non-printable characters.
- Removing words that contain non-alphabetic characters.


**We shall use only one file(2015) for quick processing.**

In [18]:
# create cleaning function

def clean_lines(lines):
	cleaned = list()
	# prepare regex for char filtering
	re_print = re.compile('[^%s]' % re.escape(string.printable))
	# prepare translation table for removing punctuation
	table = str.maketrans('', '', string.punctuation)
	for line in lines:
		# normalize unicode characters
		line = normalize('NFD', line).encode('ascii', 'ignore')
		line = line.decode('UTF-8')
		# tokenize on white space
		line = line.split()
		# convert to lower case
		line = [word.lower() for word in line]
		# remove punctuation from each token
		line = [word.translate(table) for word in line]
		# remove non-printable chars form each token
		line = [re_print.sub('', w) for w in line]
		# remove tokens with numbers in them
		line = [word for word in line if word.isalpha()]
		# store as string
		cleaned.append(' '.join(line))
	return cleaned

In [19]:
# save a list of clean sentences to file
def save_clean_sentences(sentences, filename):
	dump(sentences, open(filename, 'wb'))
	print('Saved: %s' % filename)

In [20]:
# load English data
filename = 'newstest2015.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2015.pkl')

Saved: english2015.pkl

In [21]:
# spot check for english version
for i in range(10):
	print(sentences[i])

india and japan prime ministers meet in tokyo
indias new prime minister narendra modi is meeting his japanese counterpart shinzo abe in tokyo to discuss economic and security ties on his first major foreign visit since winning mays election
mr modi is on a fiveday trip to japan to strengthen economic ties with the third largest economy in the world
high on the agenda are plans for greater nuclear cooperation
india is also reportedly hoping for a deal on defence collaboration between the two nations
karratha police arrest after high speed motorcycle chase
a motorcycle has been seized after it was ridden at in a zone and through bushland to escape police in the pilbara
traffic police on patrol in karratha this morning tried to pull over a blue motorcycle when they spotted it reaching as it pulled out of a service station on bathgate road
police say the rider then failed to stop and continued on to burgess road before turning into bushland causing the officers to lose sight of it
the motorcycle and a person matching the description of the rider was then spotted at a house on walcott way in bulgarra

In [22]:
# load and check German data

filename = 'newstest2015.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'german2015.pkl')
# spot check for german version
for i in range(10):
	print(sentences[i])

Saved: german2015.pkl
die premierminister indiens und japans trafen sich in tokio
indiens neuer premierminister narendra modi trifft bei seinem ersten wichtigen auslandsbesuch seit seinem wahlsieg im mai seinen japanischen amtskollegen shinzo abe in toko um wirtschaftliche und sicherheitspolitische beziehungen zu besprechen
herr modi befindet sich auf einer funftagigen reise nach japan um die wirtschaftlichen beziehungen mit der drittgroten wirtschaftsnation der welt zu festigen
plane fur eine starkere kerntechnische zusammenarbeit stehen ganz oben auf der tagesordnung
berichten zufolge hofft indien daruber hinaus auf einen vertrag zur verteidigungszusammenarbeit zwischen den beiden nationen
polizei von karratha verhaftet nach schneller motorradjagd
ein motorrad wurde beschlagnahmt nachdem der fahrer es mit kmh in einer kmhzone und durch buschland gefahren hatte um der polizei in bilbara zu entkommen
verkehrspolizisten in karratha versuchten heute morgen ein blaues motorrad zu stoppen nachdem sie es dabei beobachtet hatten wie es mit kmh eine tankstelle auf der bathdate road verlie
die polizei berichtet dass der fahrer die haltesignale dann ignorierte und weiter auf der burgess road fuhr bevor er in das buschland abbog wo die beamten es aus den augen verloren
das motorrad sowie eine person die der beschreibung des fahrers entsprach wurden spater bei einem haus im walcott way in bulgarra gesehen

# 4)- Vocab frequency

In [23]:
# function to load a clean dataset
def load_clean_sentences(filename):
	return load(open(filename, 'rb'))

In [24]:
def to_vocab(lines):
	vocab = Counter()
	for line in lines:
		tokens = line.split()
		vocab.update(tokens)
	return vocab

### 4a)-original file

In [25]:
# load English dataset i.e pickled earlier
filename = 'english2015.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 7227

In [26]:
# load German dataset i.e pickled earlier
filename = 'german2015.pkl'
lines = load_clean_sentences(filename)
# calculate vocabulary
vocab = to_vocab(lines)
print('German Vocabulary: %d' % len(vocab))

German Vocabulary: 9280

# 5)-For pickle files

In [27]:
df_clean_eng= pd.read_pickle('english2015.pkl')

In [28]:
type(df_clean_eng)

list

In [29]:
df_clean_eng[:5]

['india and japan prime ministers meet in tokyo',
 'indias new prime minister narendra modi is meeting his japanese counterpart shinzo abe in tokyo to discuss economic and security ties on his first major foreign visit since winning mays election',
 'mr modi is on a fiveday trip to japan to strengthen economic ties with the third largest economy in the world',
 'high on the agenda are plans for greater nuclear cooperation',
 'india is also reportedly hoping for a deal on defence collaboration between the two nations']

In [30]:
new_eng=pd.DataFrame(df_clean_eng, columns=['eng'])

In [31]:
new_eng.head()

                                                                                                                                                                                                  eng
0                                                                                                                                                       india and japan prime ministers meet in tokyo
1  indias new prime minister narendra modi is meeting his japanese counterpart shinzo abe in tokyo to discuss economic and security ties on his first major foreign visit since winning mays election
2                                                                                       mr modi is on a fiveday trip to japan to strengthen economic ties with the third largest economy in the world
3                                                                                                                                        high on the agenda are plans for greater nuclear cooperation
4                                                                                                         india is also reportedly hoping for a deal on defence collaboration between the two nations

In [32]:
new_eng.shape

(2169, 1)

**save as of text file**

In [33]:
new_eng.to_csv(r'english2015.txt', header=None, index=None, sep=' ', mode='a')

### 5b)- for german

In [34]:
df_clean_ger= pd.read_pickle('german2015.pkl')

In [35]:
type(df_clean_ger)

list

In [36]:
new_ger=pd.DataFrame(df_clean_ger, columns=['ger'])

In [37]:
new_ger.head()

                                                                                                                                                                                                       ger
0                                                                                                                                              die premierminister indiens und japans trafen sich in tokio
1  indiens neuer premierminister narendra modi trifft bei seinem ersten wichtigen auslandsbesuch seit seinem wahlsieg im mai seinen japanischen amtskollegen shinzo abe in toko um wirtschaftliche und ...
2                                            herr modi befindet sich auf einer funftagigen reise nach japan um die wirtschaftlichen beziehungen mit der drittgroten wirtschaftsnation der welt zu festigen
3                                                                                                              plane fur eine starkere kerntechnische zusammenarbeit stehen ganz oben auf der tagesordnung
4                                                                             berichten zufolge hofft indien daruber hinaus auf einen vertrag zur verteidigungszusammenarbeit zwischen den beiden nationen

In [38]:
new_ger.shape

(2169, 1)

**save as text file**

In [39]:
new_ger.to_csv(r'german2015.txt', header=None, index=None, sep=' ', mode='a')

### Combine files

In [40]:
df_combine_2015_clean=pd.concat([new_eng, new_ger], axis=1, join='inner') # to adjust automatically row labels i.e index
df_combine_2015_clean.shape

(2169, 2)

In [41]:
df_combine_2015_clean.head()

,eng,ger
0,india and japan prime ministers meet in tokyo,die premierminister indiens und japans trafen sich in tokio
1,indias new prime minister narendra modi is meeting his japanese counterpart shinzo abe in tokyo to discuss economic and security ties on his first major foreign visit since winning mays election,indiens neuer premierminister narendra modi trifft bei seinem ersten wichtigen auslandsbesuch seit seinem wahlsieg im mai seinen japanischen amtskollegen shinzo abe in toko um wirtschaftliche und ...
2,mr modi is on a fiveday trip to japan to strengthen economic ties with the third largest economy in the world,herr modi befindet sich auf einer funftagigen reise nach japan um die wirtschaftlichen beziehungen mit der drittgroten wirtschaftsnation der welt zu festigen
3,high on the agenda are plans for greater nuclear cooperation,plane fur eine starkere kerntechnische zusammenarbeit stehen ganz oben auf der tagesordnung
4,india is also reportedly hoping for a deal on defence collaboration between the two nations,berichten zufolge hofft indien daruber hinaus auf einen vertrag zur verteidigungszusammenarbeit zwischen den beiden nationen

### save work as pickle

In [42]:
df_combine_2015_clean.to_pickle('data_2015_clean_preprocess.pkl')

In [43]:
df_combine_2015_clean.to_csv('data_2015_clean.csv')

### save as text file too

In [44]:
df_combine_2015_clean.to_csv(r'data_2015_clean.txt', header=None, index=None)

In [45]:
# or use np.......

np.savetxt(r'data_2015_clean_np.txt', df_combine_2015_clean.eng+df_combine_2015_clean.ger , fmt='%s')

# 6)- Combining all files from 2009-2016

### 6a.All english versions

In [58]:
# load English data
filename = 'newstest2009.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2009.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2009.pkl
prague stock market falls to minus by the end of the trading day
after a sharp drop in the morning the prague stock market corrected its losses
transactions with stocks from the czech energy enterprise cez reached nearly half of the regular daily trading
the prague stock market immediately continued its fall from monday at the beginning of tuesdays trading when it dropped by nearly six percent
this time the fall in stocks on wall street is responsible for the drop
the reaction of the market to the results of the vote in the american house of representatives which refused to support the plan for the stabilization of the financial sector there has manifested itself here as well
stocks fall in asia
stocks in the asian markets experienced a dramatic drop on tuesday even though the indexes ultimately erased a part of the losses during the day
the hang seng index of the hong kong stock exchange wrote off nearly four percent during the day but later it erased a part of the losses and reduced the decrease to roughly percent
the hang seng china enterprises index which follows the movement of chinese stocks on the stock market in hong kong dropped by percent in shanghai the markets were closed

In [59]:
# load English dataset i.e pickled earlier
filename = 'english2009.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 8601

**create dataframe**

In [66]:
ls_2009= pd.read_pickle('english2009.pkl')

In [67]:
type(df_clean_eng)

list

In [68]:
df_2009=pd.DataFrame(ls_2009, columns=['eng'])

In [70]:
df_2009.head(2)

                                                                              eng
0                prague stock market falls to minus by the end of the trading day
1  after a sharp drop in the morning the prague stock market corrected its losses

In [71]:
df_2009.shape

(2525, 1)

#### for 2010

In [73]:
# load English data
filename = 'newstest2010.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2010.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2010.pkl
barack obama becomes the fourth american president to receive the nobel peace prize
the american president barack obama will fly into oslo norway for hours to receive the nobel peace prize the fourth american president in history to do so
he will receive a diploma medal and cheque for million dollars for his exceptional efforts to improve global diplomacy and encourage international cooperation amongst other things
the head of the white house will be flying into the norwegian city in the morning with his wife michelle and will have a busy schedule
first he will visit the nobel institute where he will have his first meeting with the five committee members who selected him from people and organisations

In [74]:
# load English dataset i.e pickled earlier
filename = 'english2010.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 8526

In [75]:
ls_2010= pd.read_pickle('english2010.pkl')
type(ls_2010)

list

In [76]:
df_2010=pd.DataFrame(ls_2010, columns=['eng'])
df_2010.shape

(2489, 1)

In [77]:
df_2010.head(3)

                                                                                                                                                                                   eng
0                                                                                                  barack obama becomes the fourth american president to receive the nobel peace prize
1                           the american president barack obama will fly into oslo norway for hours to receive the nobel peace prize the fourth american president in history to do so
2  he will receive a diploma medal and cheque for million dollars for his exceptional efforts to improve global diplomacy and encourage international cooperation amongst other things

#### 2011

In [78]:
# load English data
filename = 'newstest2011.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2011.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2011.pkl
what will they do cssd lacks knowledge of both voldemort and candy bars in prague
new councilors of cssd will most probably have to overcome certain language barriers to understand their oldnew colleagues from ods in prague council and municipal council
aktualnecz tested the social democrat members of the new council in terms of the wellestablished slang that originated in the town hall during the few last years when prague was ruled by the current coalition partners
coded vocabulary that was established by prague political elite during the previous era of the mayor pavel bem describes some of the most famous persons situations and affairs in the city
surprisingly it turned out that the new council members do not understand the wellknown concepts

In [79]:
# load English dataset i.e pickled earlier
filename = 'english2011.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 9868

In [80]:
ls_2011= pd.read_pickle('english2011.pkl')
type(ls_2011)

list

In [81]:
df_2011=pd.DataFrame(ls_2011, columns=['eng'])
df_2011.shape

(3003, 1)

In [82]:
df_2011.head(3)

                                                                                                                                                                                                       eng
0                                                                                                                        what will they do cssd lacks knowledge of both voldemort and candy bars in prague
1                              new councilors of cssd will most probably have to overcome certain language barriers to understand their oldnew colleagues from ods in prague council and municipal council
2  aktualnecz tested the social democrat members of the new council in terms of the wellestablished slang that originated in the town hall during the few last years when prague was ruled by the curre...

#### for 2012

In [83]:
# load English data
filename = 'newstest2012.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2012.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2012.pkl
parliament does not support amendment freeing tymoshenko
today the ukraine parliament dismissed within the code of criminal procedure amendment the motion to revoke an article based on which the opposition leader yulia tymoshenko was sentenced
the amendment that would lead to freeing the imprisoned former prime minister was revoked during second reading of the proposal for mitigation of sentences for economic offences
in october tymoshenko was sentenced to seven years in prison for entering into what was reported to be a disadvantageous gas deal with russia
the verdict is not yet final the court will hear tymoshenkos appeal in december

In [84]:
# load English dataset i.e pickled earlier
filename = 'english2012.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 9138

In [85]:
ls_2012= pd.read_pickle('english2012.pkl')
type(ls_2012)

list

In [86]:
df_2012=pd.DataFrame(ls_2012, columns=['eng'])
df_2012.shape

(3003, 1)

In [87]:
df_2012.head(3)

                                                                                                                                                                                          eng
0                                                                                                                                    parliament does not support amendment freeing tymoshenko
1  today the ukraine parliament dismissed within the code of criminal procedure amendment the motion to revoke an article based on which the opposition leader yulia tymoshenko was sentenced
2           the amendment that would lead to freeing the imprisoned former prime minister was revoked during second reading of the proposal for mitigation of sentences for economic offences

#### for 2013

In [88]:
# load English data
filename = 'newstest2013.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2013.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2013.pkl
a republican strategy to counter the reelection of obama
republican leaders justified their policy by the need to combat electoral fraud
however the brennan centre considers this a myth stating that electoral fraud is rarer in the united states than the number of people killed by lightning
indeed republican lawyers identified only cases of electoral fraud in the united states in a decade
one thing is certain these new provisions will have a negative impact on voter turnout

In [89]:
# load English dataset i.e pickled earlier
filename = 'english2013.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 8629

In [90]:
ls_2013= pd.read_pickle('english2013.pkl')
type(ls_2013)

list

In [91]:
df_2013=pd.DataFrame(ls_2013, columns=['eng'])
df_2013.shape

(3000, 1)

In [92]:
df_2013.head(3)

                                                                                                                                                         eng
0                                                                                                   a republican strategy to counter the reelection of obama
1                                                                            republican leaders justified their policy by the need to combat electoral fraud
2  however the brennan centre considers this a myth stating that electoral fraud is rarer in the united states than the number of people killed by lightning

#### for 2014

In [93]:
# load English data
filename = 'newstest2014.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2014.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2014.pkl
gutach increased safety for pedestrians
they are not even metres apart on tuesday the new b pedestrian lights in dorfparkplatz in gutach became operational within view of the existing town hall traffic lights
two sets of lights so close to one another intentional or just a silly error
yesterday gutachts mayor gave a clear answer to this question
at the time the town hall traffic lights were installed because this was a school route explained eckert yesterday

In [94]:
# load English dataset i.e pickled earlier
filename = 'english2014.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 9290

In [95]:
ls_2014= pd.read_pickle('english2014.pkl')
type(ls_2014)

list

In [96]:
df_2014=pd.DataFrame(ls_2014, columns=['eng'])
df_2014.shape

(3003, 1)

In [97]:
df_2014.head(3)

                                                                                                                                                                        eng
0                                                                                                                                   gutach increased safety for pedestrians
1  they are not even metres apart on tuesday the new b pedestrian lights in dorfparkplatz in gutach became operational within view of the existing town hall traffic lights
2                                                                                              two sets of lights so close to one another intentional or just a silly error

#### 2015

In [98]:
# load English data
filename = 'newstest2015.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2015.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2015.pkl
india and japan prime ministers meet in tokyo
indias new prime minister narendra modi is meeting his japanese counterpart shinzo abe in tokyo to discuss economic and security ties on his first major foreign visit since winning mays election
mr modi is on a fiveday trip to japan to strengthen economic ties with the third largest economy in the world
high on the agenda are plans for greater nuclear cooperation
india is also reportedly hoping for a deal on defence collaboration between the two nations

In [99]:
# load English dataset i.e pickled earlier
filename = 'english2015.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 7227

In [100]:
ls_2015= pd.read_pickle('english2015.pkl')
type(ls_2015)

list

In [101]:
df_2015=pd.DataFrame(ls_2015, columns=['eng'])
df_2015.shape

(2169, 1)

In [102]:
df_2015.head(3)

                                                                                                                                                                                                  eng
0                                                                                                                                                       india and japan prime ministers meet in tokyo
1  indias new prime minister narendra modi is meeting his japanese counterpart shinzo abe in tokyo to discuss economic and security ties on his first major foreign visit since winning mays election
2                                                                                       mr modi is on a fiveday trip to japan to strengthen economic ties with the third largest economy in the world

#### 2016

In [103]:
# load English data
filename = 'newstest2016.en'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'english2016.pkl')

#spot check for english version
for i in range(5):
	print(sentences[i])

Saved: english2016.pkl
obama receives netanyahu
the relationship between obama and netanyahu is not exactly friendly
the two wanted to talk about the implementation of the international agreement and about teherans destabilising activities in the middle east
the meeting was also planned to cover the conflict with the palestinians and the disputed two state solution
relations between obama and netanyahu have been strained for years

In [104]:
# load English dataset i.e pickled earlier
filename = 'english2016.pkl'
lines = load_clean_sentences(filename)

# calculate vocabulary
vocab = to_vocab(lines)
print('English Vocabulary: %d' % len(vocab))

English Vocabulary: 8696

In [105]:
ls_2016= pd.read_pickle('english2016.pkl')
type(ls_2016)

list

In [106]:
df_2016=pd.DataFrame(ls_2016, columns=['eng'])
df_2016.shape

(2999, 1)

In [107]:
df_2016.head(3)

                                                                                                                                             eng
0                                                                                                                       obama receives netanyahu
1                                                                           the relationship between obama and netanyahu is not exactly friendly
2  the two wanted to talk about the implementation of the international agreement and about teherans destabilising activities in the middle east

**combine all datasets from 2009-2016**

In [108]:
df_eng_all=pd.concat([df_2009,df_2010,df_2011,df_2012,df_2013,df_2014,df_2015,df_2016], ignore_index=True)

In [110]:
print("shape of combined Cleaned English version is", df_eng_all.shape)

shape of combined Cleaned English version is (22191, 1)

**save as text file**

In [111]:
df_eng_all.to_csv(r'english_all.txt', header=None, index=None, sep=' ', mode='a')

### 6b.all german version

In [ ]:
# load and check German data

filename = 'newstest2015.de'
doc = load_doc(filename)
sentences = to_sentences(doc)
sentences = clean_lines(sentences)
save_clean_sentences(sentences, 'german2015.pkl')
# spot check for german version
for i in range(10):
	print(sentences[i])

In [ ]:
# load German dataset i.e pickled earlier
filename = 'german2015.pkl'
lines = load_clean_sentences(filename)
# calculate vocabulary
vocab = to_vocab(lines)
print('German Vocabulary: %d' % len(vocab))

### 6c. Make them random

In [ ]:
.sample()

**again make test_text file**